
body{font-size: 1.6rem; line-height: 1.2; background: #F3F5EC;}
.inner{max-width: 1540px; margin: 0 auto; padding: 0 20px;}
.inner img{text-align: center; width: 100%;height: 100%; object-fit: cover;}
 #wrap #main{  overflow: hidden;}

#footer{font-size: 16px;  margin: 0 auto; text-align: center;margin: 40px 0 20px;}